<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<style>
.w3-tangerine {
    font-family: "Tangerine", serif;
}

.background
{
   height: 670px;
   background-image: url("https://image.freepik.com/free-vector/cartoon-of-a-business-person-with-a-megaphone_1207-241.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}

</style>

</head>
<body>

<div class="container" ng-controller="JobController">
<div class="background">
<div class="container">
  
  <div class="w3-container w3-tangerine">
  <center><p class="w3-jumbo"><font color="Steelblue">Add Job</font></p></center>
  
  <form class="form-horizontal">
  <div class="w3-xxlarge">
     <div class="form-group">
       <label class="control-label col-sm-2">Designation:</label>
         <div class="col-sm-10">
           <input type="text" class="form-control" name="designation" ng-model="job.Designation" placeholder="job designation">
         </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2">Company:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" name="company" ng-model="job.company" placeholder="Enter company name">
        </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2">JobDescription:</label>
        <div class="col-sm-10">          
           <textarea name="jobDesc" class="form-control" ng-model="job.jobDesc" placeholder="Enter job Description"></textarea>
        </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Salary:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" name="salary" ng-model="job.salary" placeholder="Enter salary">
        </div>
    </div>
    
    <div class="form-group">
       <label class="control-label col-sm-2">Location:</label>
         <div class="col-sm-10">          
           <input type="text" class="form-control" name="location" ng-model="job.location" placeholder="Enter location">
         </div>
    </div>
    
    <div class="form-group">
       <label class="control-label col-sm-2">Last Date For Apply:   </label>
         <div class="col-sm-10">          
           <input type="date" class="form-control" name="date" ng-model="job.lastDateApply" placeholder="Enter last date for apply">
         </div>
    </div>
          
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click="publishJob()" class="btn btn-lg btn-info">Submit</button>
      </div>
    </div>
    </div>
  </form>
</div>
</div>
</div>
</div>
</body>
</html>
               

