<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<style>

.w3-tangerine 
{
    font-family: "Tangerine", serif;
}
</style>
</head>
<body>


<div class="container" ng-controller="FriendController">
<div class="w3-tangerine">
<table class="table table">

<tr class="w3-xxlarge">

  <td>Friend Name</td>
  <td>Operation</td>
    
</tr>

<tr class="w3-xxlarge" ng-repeat="friend in friendList">
    <td><img src="http://localhost:8080/Middleware/getImage/{{friend.friendloginname}}" class="img-circle" width="100" height="100">{{friend.friendloginname}}</td>
    <td><input type="button" value="UnFriend" ng-click="deleteFriend(friend.friendId)" class="btn btn-danger"/></td>
</tr>
</table>
</div>
</div>
</body>
</html>
