<div class="container" ng-controller="ForumController">

<table class="table">

<tr>
   <td>Forum Name</td>
   <td>Forum content</td>
</tr>

<tr>
   <tr ng-repeat="forum in allforumdata">
      <td>{{forum.forumName}}</td>
      <td>{{forum.forumContent}}</td>
</tr>
</table>

<div class="panel-group" id="accordion">
   <div class="panel panel-default">
     <div class="panel-heading" ng-repeat="forum in allForumdata">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">{{forum.forumName}}</a>
       
        
        <div id="collapse1" class="panel-collapse collapse in">
           <div class="panel-body">
           {{forum.forumContent}}
           </div>
        </div>
      </div>
   </div>
</div>
          
</div>