<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

<style>

.w3-tangerine 
{
    font-family: "Tangerine", serif;
}

.background
{
   height: 670px;
   width:100%;
   background-image: url("https://thumbs.dreamstime.com/b/d-white-man-holding-pencil-notebook-34467934.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}

</style>
</head>
<body>

<div class="container" ng-controller="UserController">
<div class="background">
<div class="w3-tangerine">
<div class="login-form">    
    <form class="w3-xxlarge">

    	<div class="form-group">
      Login Name      <input type="text" name="loginname" ng-model="User.loginname" class="form-control" placeholder="loginname" required="required">
        </div>
       
    	
        <div class="form-group">
      User Name      <input type="text" name="userName" ng-model="User.userName" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
      Password       <input type="password" name="password" ng-model="User.password" class="form-control" placeholder="Password" required="required">
        </div>
      
        <div class="form-group">
      Address      <input type="text" name="address" ng-model="User.address" class="form-control" placeholder="address" required="required">
        </div>
      
       <div class="form-group">
      Email id     <input type="text" name="emailId" ng-model="User.emailId" class="form-control" placeholder="email" required="required">
        </div>
            
        <div class="form-group">
      Mobile no.     <input type="text" name="mobileNo" ng-model="User.mobileNo" class="form-control" placeholder="mobileNo" required="required">
        </div>
            
        
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login" ng-click="register()">              
    </form>			
    
</div>
</div>
</div>
</div>
</body>
</html>